{% extends "template.twig" %}

{% block head %}

    <link rel="stylesheet" href="/uscv/site/assets/css/activite.css">
    <script src="/uscv/site/assets/js/activite.js"></script>
    <title>Le Club</title>
{% endblock %}

{% block content %}
    <div class="row content">
        <div class="container">
            <h1>Les Activités</h1>
            <div class="row">
                
                <div class="col s12">
                    <div class="card horizontal" id="cours_part">
                        <div class="card-image">
                            <img class="" src="/uscv/site/assets/image/slider/slider2.jpg">                            
                        </div>
                        <div class="card-stacked">
                            <div class="card-content">
                                <span class="card-title">Cours Particuliers</span>
                                <p></p>                               
                            </div>
                            <div class="card-action">
                                <a onclick="tarif_cours()" class="btn blue">tarifs</a>
                                <a onclick="condition_cours()" class="btn red">Conditions d'acces</a>
                                {% if user.getStatus == "admin" %}
                                    <a class="btn-floating blue right" href="{{ path_for('ArticleEditor', {'article_name': 'cours_particuliers'}) }}"><i class="fa fa-pencil" aria-hidden="true"></i></a>
                                    {% endif %}
                            </div>
                        </div>
                    </div>
                </div>



                <div class="col s12">
                    <div class="card horizontal" id="stages">
                        <div class="card-image">
                            <img class="" src="/uscv/site/assets/image/slider/slider.jpg">                            
                        </div>
                        <div class="card-stacked">
                            <div class="card-content">
                                <span class="card-title">Stages</span>
                                <p></p>
                            </div>
                            <div class="card-action">
                                <a onclick="tarif_stage()" class="btn blue">tarifs</a>
                                <a onclick="condition_stages()" class="btn red">Conditions d'acces</a>
                                {% if user.getStatus == "admin" %}
                                    <a class="btn-floating blue right" href="{{ path_for('ArticleEditor', {'article_name': 'stages'}) }}"><i class="fa fa-pencil" aria-hidden="true"></i></a>
                                    {% endif %}
                            </div>
                        </div>
                    </div>
                </div>



                <div class="col s12">
                    <div class="card horizontal" id="groupe">
                        <div class="card-image">
                            <img class="" src="/uscv/site/assets/image/slider/slider3.jpg">                            
                        </div>  
                        <div class="card-stacked">
                            <div class="card-content">
                                <span class="card-title">Groupes</span>
                                <p></p>
                            </div>
                            <div class="card-action">
                                <a onclick="tarif_groupe()" class="btn blue">tarifs</a>
                                <a onclick="condition_groupes()" class="btn red">Conditions d'acces</a>
                                {% if user.getStatus == "admin" %}
                                    <a class="btn-floating blue right" href="{{ path_for('ArticleEditor', {'article_name': 'groupes'}) }}"><i class="fa fa-pencil" aria-hidden="true"></i></a>
                                    {% endif %}
                            </div>
                        </div>
                    </div>
                </div>


            </div> 
        </div> 
    </div>

    <div class="row bottom_nav">
        <div class="col s12 black">
            <ul class="tabs black center">
                <li class="tab col s3">
                    <a target="_self" href="{{ path_for('club') }}">Le Club</a>
                </li>
                <li class="tab col s3">
                    <a target="_self" href="{{ path_for('activite') }}">Activités</a>
                </li>
                <li class="tab col s3">
                    <a target="_self" href="{{ path_for('reservation') }}">Reservation</a>
                </li>
                <li class="tab col s3">
                    <a target="_self" href="{{ path_for('location') }}">Location</a>
                </li>
            </ul>
        </div>
    </div>
{% endblock %}

{% block end_script %}
    <script>



    </script>
{% endblock %}