{% extends "template.twig" %}

{% block head %}

    <link rel="stylesheet" href="/assets/css/club.css">
    <script src="/assets/js/club.js"></script>

    <title>Le Club</title>
{% endblock %}

{% block content %}

    <div class="row content">
        {#       ----------------------------------------------------------------------- ACTUALITE#}
        <div id="actualites" class="col s12">
            <div class="row container" id="actualite_content">
            {% block post %}{% endblock %}
        </div>

    </div>
    {#       ----------------------------------------------------------------------- EVENEMENTS#}
    <div id="evenements" class="col s12">
        <div class="row container" id="evenement_content">
            <h2 class="header">Evenements</h2>
            <div class="card"> 
                <div class="card-tabs">
                    <ul class="tabs tabs-fixed-width black">
                        <li class="tab"><a class="active" href="#event_planning">Planning</a></li>
                        <li class="tab"><a href="#event_file">Avis de cource</a></li>
                    </ul>
                </div>
                <div class="card-content">
                    <div id="event_planning">
                        <p></p>
                        {% if user.getStatus == "admin" %}
                            <div class="card-action"><a class="btn-floating blue waves-effect " href="{{ path_for('ArticleEditor', {'article_name': 'evenements'}) }}"><i class="fa fa-pencil" aria-hidden="true"></i></a></div>
                                {% endif %}
                    </div>
                    <div id="event_file">
                        <object id="event_pdf" data="" type="application/pdf">
                        </object>
                        {% if user.getStatus == "admin" %}
                            <form id="avis_de_cours_form">
                                <div class="file-field input-field">
                                    <div class="btn blue">
                                        <span><i class="fa fa-file-pdf-o" aria-hidden="true"></i> Avis de course</span>
                                        <input type="file" name="avis_de_course" accept="application/pdf" required onchange="upload_avis_de_course(this)">
                                    </div>
                                    <div class="file-path-wrapper">
                                        <input class="file-path validate" type="text">
                                    </div>
                                </div>
                            </form>
                        {% endif %}
                    </div>
                </div>                                
            </div>
        </div>
    </div>
    {#       ----------------------------------------------------------------------- PRATIQUES#}
    <div id="pratiques" class="col s12">
        <div class="row container" id="evenement_content">
            <h2 class="header">Pratiques</h2>
            <div class="card">
                <div class="card-tabs">
                    <ul class="tabs tabs-fixed-width black">
                        <li class="tab"><a class='active' href="#pratique_deriveur">Dériveur</a></li>
                        <li class="tab"><a href="#pratique_vrc">VRC</a></li>
                        <li class="tab"><a href="#pratique_croisiere">Croisières</a></li>
                    </ul>
                </div>
                <div class="card-content">
                    <div id="pratique_deriveur">
                        <span class="card-title"></span>
                        <p></p>
                        {% if user.getStatus == "admin" %}
                            <div class="card-action"><a class="btn-floating blue waves-effect " href="{{ path_for('ArticleEditor', {'article_name': 'pratique_deriveur'}) }}"><i class="fa fa-pencil" aria-hidden="true"></i></a></div>
                                {% endif %}
                    </div>
                    <div id="pratique_vrc">
                        <span class="card-title"></span>
                        <p></p>
                        {% if user.getStatus == "admin" %}
                            <div class="card-action"><a class="btn-floating blue waves-effect " href="{{ path_for('ArticleEditor', {'article_name': 'pratique_vrc'}) }}"><i class="fa fa-pencil" aria-hidden="true"></i></a></div>
                                {% endif %}
                    </div>
                    <div id="pratique_croisiere">
                        <span class="card-title"></span>
                        <p></p>
                        {% if user.getStatus == "admin" %}
                            <div class="card-action"><a class="btn-floating blue waves-effect " href="{{ path_for('ArticleEditor', {'article_name': 'pratique_croisiere'}) }}"><i class="fa fa-pencil" aria-hidden="true"></i></a></div>
                                {% endif %}
                    </div>
                </div>                                
            </div>
        </div>
    </div>
    {#       ----------------------------------------------------------------------- ENTRAINEMENT#}
    <div id="entrainements" class="col s12">
        <div class="row container">
            <h2 class="header">Entrainements</h2>
            <div class="col s12">
                <div class="card ">
                    <div class="card-content white-text">
                        <span class="card-title"></span>
                        <p></p>
                        {% if user.getStatus == "admin" %}
                            <div class="card-action"><a class="btn-floating blue white-text waves-effect " href="{{ path_for('ArticleEditor', {'article_name': 'entrainements'}) }}"><i class="fa fa-pencil white-text" aria-hidden="true"></i></a></div>
                                {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>
    {#       ----------------------------------------------------------------------- EQUIPE#}
    <div id="equipe" class="col s12">
        <div class="row container">
            <h2 class="header">L'équipe</h2>
            <div class="col s12">
                <div class="col s4">
                    <div class="card large">
                        <div class="card-content" id='team_1'>
                            <span class="card-title"></span>
                            <p></p>
                        </div> 
                        {% if user.getStatus == "admin" %}
                            <div class="card-action"><a class="btn-floating blue waves-effect " href="{{ path_for('ArticleEditor', {'article_name': 'moniteur1'}) }}"><i class="fa fa-pencil" aria-hidden="true"></i></a></div>
                                {% endif %}
                    </div>
                </div>
                <div class="col s4">
                    <div class="card large">
                        <div class="card-content" id='team_2'>
                            <span class="card-title"></span>
                            <p></p>
                        </div>
                        {% if user.getStatus == "admin" %}
                            <div class="card-action"><a class="btn-floating blue waves-effect " href="{{ path_for('ArticleEditor', {'article_name': 'moniteur2'}) }}"><i class="fa fa-pencil" aria-hidden="true"></i></a></div>
                                {% endif %}

                    </div>
                </div>
                <div class="col s4">
                    <div class="card large">
                        <div class="card-content" id='team_3'>
                            <span class="card-title"></span>
                            <p></p>
                        </div>
                        {% if user.getStatus == "admin" %}
                            <div class="card-action"><a class="btn-floating blue waves-effect " href="{{ path_for('ArticleEditor', {'article_name': 'moniteur3'}) }}"><i class="fa fa-pencil" aria-hidden="true"></i></a></div>
                                {% endif %}

                    </div>
                </div>
            </div>
            <div class="col s12">
                <div class="col s6">
                    <div class="card large">
                        <div class="card-content" id='team_4'>
                            <span class="card-title"></span>
                            <p></p>
                        </div>
                        {% if user.getStatus == "admin" %}
                            <div class="card-action"><a class="btn-floating blue waves-effect " href="{{ path_for('ArticleEditor', {'article_name': 'moniteur4'}) }}"><i class="fa fa-pencil" aria-hidden="true"></i></a></div>
                                {% endif %}

                    </div>
                </div>
                <div class="col s6">
                    <div class="card large">
                        <div class="card-content" id='team_5'>
                            <span class="card-title"></span>
                            <p></p>
                        </div>
                        {% if user.getStatus == "admin" %}
                            <div class="card-action"><a class="btn-floating blue waves-effect " href="{{ path_for('ArticleEditor', {'article_name': 'moniteur5'}) }}"><i class="fa fa-pencil" aria-hidden="true"></i></a></div>
                                {% endif %}

                    </div>
                </div>
            </div>
            <div class="col s12">
                <div class="card">
                    <div class="card-content" id='team_6'>
                        <span class="card-title"></span>
                        <p></p>
                    </div>
                    {% if user.getStatus == "admin" %}
                        <div class="card-action"><a class="btn-floating blue waves-effect " href="{{ path_for('ArticleEditor', {'article_name': 'moniteur6'}) }}"><i class="fa fa-pencil" aria-hidden="true"></i></a></div>
                            {% endif %}

                </div>
            </div>
        </div>
    </div>
    {#       ----------------------------------------------------------------------- A PROPOS#}
    <div id="apropos" class="col s12">
        <div class="row container">
            <h2 class="header">A propos ...</h2>
            <div class="col s12">
                <div class="card ">
                    <div class="card-content white-text">
                        <span class="card-title"></span>
                        <p></p>
                        {% if user.getStatus == "admin" %}
                            <div class="card-action"><a class="btn-floating blue waves-effect " href="{{ path_for('ArticleEditor', {'article_name': 'apropos'}) }}"><i class="fa fa-pencil white-text" aria-hidden="true"></i></a></div>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="col s12 black bottom_nav">
        <a href="{{ path_for('home') }}" class="back_home btn-floating btn-large waves-effect waves-light blue">
            <i class="fa fa-arrow-left" aria-hidden="true"></i>
        </a>
        <ul class="tabs black center">
            <li class="tab col s2">
                <a href="#actualites" onclick="actualite()">Actualités</a>
            </li>
            <li class="tab col s2">
                <a href="#evenements" onclick="evenement()">Evenements</a>
            </li>
            <li class="tab col s2">
                <a href="#pratiques" onclick="pratique()">Pratiques</a>
            </li>
            <li class="tab col s2">
                <a href="#entrainements" onclick="entrainement()">Entrainements</a>
            </li>
            <li class="tab col s2">
                <a href="#equipe" onclick="equipe()">L'équipe</a>
            </li>
            <li class="tab col s2">
                <a href="#apropos" onclick="apropos()">A Propos</a>
            </li>
        </ul>
    </div>
</div>
{% endblock %}

{% block end_script %}
    <script>

        document.addEventListener("DOMContentLoaded", function (e) {
            $("ul.tabs").tabs();
            $("ul.tabs").tabs("select_tab", "actualites");
        });

    </script>
{% endblock %}